main
  display: flex
  flex-flow: column wrap
  justify-content: space-between
  min-height: 100vh

  header
    min-height: 60px
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1)

    @media screen and (max-width: $mobile-width)
      &.floating
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 9999

    @media screen and (min-width: $mobile-width)
      position: fixed
      top: 0
      bottom: 0
      width: $header-width
      @if $header-pos == right
        right: 0
      @else if $header-pos == left
        left: 0


  .content
    flex: 1 100%
    @media screen and (min-width: $mobile-width)
      @if $header-pos == left
        margin-left: $header-width
      @else
        margin-right: $header-width

    section
      min-height: 50vh
      padding: 16px

      h2
        color: darken($bg-color, 20%)
        text-shadow: 0 -1px 0 #888
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        text-transform: uppercase

    footer
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      min-height: 60px
      background: darken($bg-color, 70%)

      span
        color: darken($bg-color, 20%)
