.navbar
  display: flex
  flex-direction: column
  justify-content: space-between
  background: lighten($bg-color,4%)
  height: 100%
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.1)

  .navbar-header
    display: flex
    justify-content: space-between
    align-items: center

    h3
      text-transform: uppercase
      @media screen and (min-width: $mobile-width)
        padding-top: 32px
        margin: auto
    .toggle-btn
      margin-right: 16px
      width: 38px
      height: 38px
      display: flex
      justify-content: space-between
      flex-flow: column nowrap
      cursor: pointer

      @media screen and (min-width: $mobile-width)
        display: none

      span,
      span::after,
      span::before
        position: relative
        top: 45%
        display: block
        width: 100%
        height: 3px
        content: ""
        background: $link-color
        transition: 0.5s ease-in-out

      span::after
        top: 7px
      span::before
        top: -10px

      &.open
        span
          background: transparent
        span::after
          top: -7px
          transform: rotate(45deg)

        span::before
          top: -5px
          transform: rotate(-45deg)

  .menu
    margin: 0
    padding: 0
    visibility: hidden
    opacity: 0
    transform: translateY(-2em)
    height: 0
    display: flex
    flex-direction: column
    list-style: none
    text-align: center
    transition: all 0.5s ease-in-out
    overflow: hidden

    @media screen and(min-width: $mobile-width)
      visibility: visible
      opacity: 1
      transform: translateY(0)
      height: auto
      overflow: visible
      margin-bottom: 40%

    &.menu-opened
      visibility: visible
      opacity: 1
      transform: translateY(0)
      height: auto

    li
      border-bottom: 1px solid rgba(0, 0, 0, 0.1)

      &:last-of-type
        border-bottom: none
      a
        display: inline-block
        width: 100%
        padding: 16px

        &.active
          background: $bg-color
          font-weight: bold
